.inner-product{
    display: flex;
    align-items: center;
    max-width: 890px;
    margin: auto;
}
.detail-media{
    max-width: 380px;
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.detail-media img{
    width: 100%;
    height: auto;
}
.detail-info{
    text-align: left;
}
.detail-info h2{
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 2rem;
}
.detail-info h4{
    font-weight: 700;
    color: #0084ff;
    margin-bottom: 25px;
    font-size: 1.4rem;
}
.place_order{
    max-width: 192px;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    background: #26a8ed;
    outline: none;
    border: 0;
    border-radius: 3px;
    padding: 12px 15px;
    margin-top: 30px;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    transition: all 0.6s;
}
.place_order:hover{
    background: #1a8dca;
    color: #fff;
}
.place_order svg{
    font-size: 19px;
    margin-right: 2px;
    margin-top: -7px;
}
@media(max-width: 767px){
    .inner-product{
        display: block;
    }
    .detail-info{
        text-align: center;
    }
}